body {
    background-color: white;
}

section {
    margin: 16px;
}

nav {
    margin: 0px 16px 16px 16px;
}
.imagetextheader {
    margin-left: 16px;
    margin-right: 16px;
    border: 5px solid black;
}

.btn-light {
    background-image: none;
    background-color: rgb(36, 255, 29);
}